
/**Large Breakpoint**/

@media screen and (min-width: 769px) {

}

body {
  color: #0B1942;
  font-family: 'PT Sans', sans-serif;
  width: 99vw;
  height: 50vh;
}

.nav_container {
  background-color: #7DDFE8;
  display: flex;
  margin: auto;
}

#fc_logo {
  background-color: #F5005B;
}

.nav_links {
  display: flex;
  flex-basis: 30%;
}
.nav_links a {
  color: #FFFFFF;
  padding-top: 60px;
  padding-left: 20px;
  margin: auto;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  flex: 1;
}

.home_link {
  background-color: #00A5BF;
  flex: 1;
  width: 15vw;
}
.cal_link {
  background-color: #00B7D3;
  flex: 1;
  width: 15vw;
}
.join_link {
  background-color: #00D5E7;
  flex: 1;
  width: 15vw;
}

h1 {
  font-weight: normal;
}

h2 {
  background-color: #0B1942;
  color: #FFFFFF;
  padding: 5px;
  margin-left: 10px;
  font-size: 28px;
  font-weight: normal;
}

.big_container {
  background-color: #0B1942;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  height: 150vh;

}

.main_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*height: 120vh;*/

}


.next_film {
  flex-basis: 40%;
  display: flex;
  align-items: flex-start;
  background-color: #E2E2E2;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60vh;


}

.next_date a {
  color: #00B7D3;
  font-size: 24px;
}
.next_film_column1 {
  flex: 1;
  padding: 30px;
}
.next_film_column2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.next_topics {
  flex: 1;
}
/*ul > li {
  font-size: 20px;
}*/

.upcoming_films {
  flex-basis: 60%;
  display: flex;
  padding: 15px;
  margin: 20px;
  height: 130vh;
  background-color: #E2E2E2;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;

}

.info_container {
  display: flex;
  justify-content: space-between;
  /*align-content: stretch;*/
}

.call_out {
  flex-basis: 30%;
  align-content: space-around;
  /*box-sizing: border-box;*/
}

.new_film {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 20vw;
}

.new_film a {
  color: #00B7D3;
  font-size: 22px;
  font-weight: bolder;
}

h4 {
  font-weight: bold;
}

.cal_container {
  height: 100vh;
  width: 100vw;
  background-color: #0B1942;
}
table {
  height: 90vh;
  width: 90vw;
  border-collapse: collapse;
  background-color: #FFFFFF;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

.day {
  background-color: #0B1942;
}
td {
  border: 2px solid #FFFFFF;
  width: 100px;
  height: 100px;
  vertical-align: top;
  color: #FFFFFF;
}

.highlighted {
  background-color: #F5005B;
}

li {
  list-style-type: circle;
}

form {
  max-width: 80vw;

}

.round-pic {
  border-radius: 50%;
  width: 300px;
  height: 300px;

}

.profile {
  display: flex;
}

.picture {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  padding: 20px;
}

.personal_info {
  flex: 1;
}

.password {
  flex: 1;
}

.film_interests {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 500px;
}

.additional_info {
  display: flex;
  flex: 1;
}

textarea {
  flex: 1
}

input[type=submit] {
    padding: 10px 15px;
    margin: auto;
    background: #F5005B;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    border: 0 none;
    cursor:pointer;
    border-radius: 0;
}

footer {
  background-color: #7DDFE8;
  height: 20vh;
  display: flex;
}

footer.home_link {
  background-color: #00A5BF;
  flex: 1;

}
footer.cal_link {
  background-color: #00B7D3;
  flex: 1;

}
footer.join_link {
  background-color: #00D5E7;
  flex: 1;
}

div.copyright_info {
  color: #FFFFFF;
  background-color: #7DDFE8;
}

/**Medium Breakpoint**/

@media screen and (min-width: 545px) and (max-width: 768px) {
  .next_film_column2 {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

}

/**Small Breakpoints**/
@media screen and (min-width: 320px) and (max-width: 544px){

}
